.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // .introduction {
    //     background-color: $gray;
    //     summary {
    //         height: 0.7rem;
    //     }
    // }
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    .activity {
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 1.5rem 2rem;
        &::-webkit-scrollbar {
            width: 0.7rem;
            background-color: $gray;
        }
        // &:hover {
        //     flex-shrink: 0.2;
        // }
        > summary {
            height: 100%;
            h1 {
                font-family: $header-font;
                font-weight: 700;
                font-size: 7rem;
                overflow : hidden;
                white-space : nowrap;
                text-overflow : ellipsis;
                padding-bottom: 1.5rem;
                margin-left: -0.5rem;
            }
        }
        &[open] > summary {
            pointer-events: none;
            height: auto;
        }
        &--watch {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(25%, auto));
            grid-auto-flow: dense;

            color: $blue;
            .video {
                border : solid 0.2rem $blue;
                padding: 0.5rem;
                word-break: keep-all;
                &[open] {
                    background-color: $blue;
                    color: $white;
                }
                &__study {
                    padding-top: 2rem;
                    a {
                        color: $white;
                        font-size: 0.7rem;
                    }
                    p {
                        line-height: 1.3;
                    }
                    img {
                        padding-top: 1rem;
                    }
                }

                &:nth-child(2n+1)  {
                    summary p {
                        font-size: 2rem;
                        line-height: 1.2;
                        font-weight: 700;
                    }
                }
                &:nth-child(2n) {
                    grid-column: span 2;
                    grid-row: span 2;
                    summary p {
                        font-size: 4rem;
                        line-height: 1.1;
                        font-weight: 600;
                    }
                }
                &:nth-child(3n) {
                    summary p {
                        font-family: $serif-font;
                        font-size: 3rem;
                        line-height: 1.1;
                        font-weight: 500;
                    }
                }
                &:nth-child(5n) {
                    grid-column: span 1;
                    grid-row: span 3;
                    summary p { font-weight: 300;}
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    &--read {
        width: 80%;
        h1 {
            color: $orange;
        }
        &::-webkit-scrollbar-thumb {
            background: $orange;
        }
    }
    &--watch {
        width: 10%;
        h1 {
            color: $blue;
        }
        &::-webkit-scrollbar-thumb {
            background: $blue;
        }
    }
    &--visit {
        width: 10%;
        h1 {
            color: $green;
        }
        &::-webkit-scrollbar-thumb {
            background: $green;
        }
    }
}

.book {
    img {
        width: 100%;
    }
    &--contents {
        padding-top: 1rem;
        color: $orange;
        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .book-info {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                li:last-child:before {
                    content: "|";
                    padding-right: 0.5rem;
                }
            }
        }
        &__study {
            padding-top: 1.5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;
            line-height: 1.6;
            word-break: keep-all;
            .study-annotation {
                margin-top: 2rem;
                p {
                    font-size: 70%;
                    padding: 0.5rem 0;
                }
                a {
                    color: $orange;

                }
            }
        }
    }
}

