.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // .intro {
    //     font-size: 3rem;
    //     padding: 1.5rem 2rem;
    //     border-bottom: 2px solid #F2F2F2;
    //     .logo {
    //         font-size: 2rem;
    //         font-weight: 700;
    //     }
    // }
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    .activity {
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 1.5rem 2rem;
        &::-webkit-scrollbar {
            width: 10px;
            height: 8px;
            background-color: $gray;
        }
        // &:hover {
        //     flex-shrink: 0.2;
        // }
        > summary {
            height: 100%;
            h1 {
                font-family: $header-font;
                font-weight: 700;
                font-size: 7rem;
                overflow : hidden;
                white-space : nowrap;
                text-overflow : ellipsis;
                padding-bottom: 1.5rem;
                margin-left: -0.5rem;
            }
        }
        &[open] > summary {
            pointer-events: none;
            height: auto;
        }
        &--watch {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(25%, auto));
            color: $blue;
            .video {

                &:nth-child(2n+1)  {
                    // max-width: 35%;
                    > summary {
                        font-size: 2rem;
                        line-height: 1.2;
                        font-weight: 300;
                    }
                }
                &:nth-child(2n) {
                    // max-width: 40%;
                    > summary {
                        font-size: 4rem;
                        line-height: 1.1;
                        font-weight: 600;
                    }
                }
                &:nth-child(3n) {
                    // max-width: 20%;
                    > summary {
                        font-size: 3rem;
                        line-height: 1.1;
                        font-weight: 500;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
    &--read {
        width: 80%;
        h1 {
            color: $orange;
        }
        &::-webkit-scrollbar-thumb {
            background: $orange;
        }
    }
    &--watch {
        width: 10%;
        h1 {
            color: $blue;
        }
        &::-webkit-scrollbar-thumb {
            background: $blue;
        }
    }
    &--visit {
        width: 10%;
        h1 {
            color: $green;
        }
        &::-webkit-scrollbar-thumb {
            background: $green;
        }
    }
}

.book {
    img {
        width: 100%;
    }
    &--contents {
        padding-top: 1rem;
        color: $orange;
        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .book-info {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                li:last-child:before {
                    content: "|";
                    padding-right: 0.5rem;
                }
            }
        }
        &__study {
            padding-top: 1.5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;
            line-height: 1.6;
            word-break: keep-all;
            strong {
                font-weight: 600;
            }
            .study-annotation {
                margin-top: 2rem;
                p {
                    font-size: 70%;
                    padding: 0.5rem 0;
                }
                a {
                    color: $orange;

                }
            }
        }
    }
}

