@media (max-width: 1000px) {
    .book {
        &--contents {
            &__info {
                flex-direction: column;
                gap: 0.5rem;
            }
            &__study {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
  }