
$font-color: #000000;
$background-color: #ffffff;

//fonts
$common-font: "Pretendard Variable", Pretendard, sans-serif;
$header-font: "Questrial", sans-serif;
$serif-font: "Nanum Myeongjo", serif;

// colors
$orange: #FF9000;
$blue: #1B86F2;
$green: #10BB3B;
$white: #ffffff;
$gray: #F2F2F2;